@model IEnumerable<NEWLIBRARY.Models.BOOKS>

@{
    ViewBag.Title = "Deletelist";
    Layout = "~/Views/Sheared/Admin_LayOut.cshtml";
}



<table>
    <tr>
        <th>
            @Html.DisplayName("WHICH BOOK DO YOU WHICH TO DELETE?")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.BOOK_NAME, "Delete", "Home", new { id=item.ID },null)
        </td>

    </tr>
}

</table>


